---
import {
  TELEGRAM_URL,
  EMAIL_LINK,
  TWITTER_URL,
  FARCASTER_URL,
  GITHUB_URL,
  ARENA_URL,
} from "@/lib/constants";
import { FooterLink } from "./footer-link";
---

<footer class="grid grid-cols-4 pt-12 pb-32">
  <div class="*:text-xs col-span-2">
    <p>© 2024 Nick Brodeur</p>
    <p>MIT License</p>
  </div>
  <div class="*:text-xs *:w-fit">
    <p>Contact</p>
    <FooterLink href={TELEGRAM_URL}>Telegram</FooterLink>
    <FooterLink href={EMAIL_LINK}>Email</FooterLink>
  </div>
  <div class="*:text-xs *:w-fit">
    <p>Socials</p>
    <FooterLink href={TWITTER_URL}> Twitter / X </FooterLink>
    <FooterLink href={FARCASTER_URL}>Farcaster</FooterLink>
    <FooterLink href={GITHUB_URL}>Github</FooterLink>
    <FooterLink href={ARENA_URL}> Are.na </FooterLink>
  </div>
</footer>
