---
import HomePanel from "@/components/home-panel.astro";
import PageFooter from "@/components/page-footer.astro";
import Layout from "@/layouts/layout.astro";
import { isNull, parseDate, formatDate } from "@/lib/utils";

// TODO: Add prop types
// interface Props {}

const { frontmatter } = Astro.props;

const { title, description, author, category, draft } = frontmatter;

// Build check for markdown metadata
if (isNull(title) || isNull(description) || isNull(author) || isNull(category) || isNull(draft)) {
  throw new Error("Required parameter is missing");
}

const { dateStarted: dateStartedString, lastUpdated: lastUpdatedString, version } = frontmatter;

const dateStarted = dateStartedString ? parseDate(dateStartedString) : null;
const lastUpdated = lastUpdatedString ? parseDate(lastUpdatedString) : null;
---

<Layout {title}>
  <HomePanel />
  <header class="border-b p-4 space-y-2">
    <h1>
      {title}
    </h1>
    <p class="text-sm text-muted-foreground mb-2">{description}</p>
    <p class="text-sm text-muted-foreground">v{version}</p>
    <div>
      <p class="text-sm text-muted-foreground">Started: {dateStarted ? formatDate(dateStarted) : "-"}</p>
      <p class="text-sm text-muted-foreground">Last updated: {lastUpdated ? formatDate(lastUpdated) : "-"}</p>
    </div>
  </header>
  <section class="p-4">
    <article class="prose-primary">
      <slot />
    </article>
  </section>
  <PageFooter {lastUpdated} />
</Layout>
